
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
    z-index:1000;
}

body {
  background-color: #f8f9fa;
}

.flex-wrap {
  flex-wrap: wrap;
}

hr {
  width: 100%;
  margin-top: 12px;
margin-bottom: 12px;
border: 0;
border-top: 1px solid #50266a;
}
.grid {
  margin-top: 5em;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25em 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    "status header"
    "side-nav content"
    "side-nav content"
    "side-nav content"
    "side-nav content"
    "side-nav content"
    "side-nav content"
}


.header {
  grid-area: header;
  overflow: hidden;
  object-fit: cover;

}

.header img {
  width: auto;
  height: 100%;
  display: block;
  overflow: hidden;
}

#banner-small {
  display: none;
}

#banner-large {
  display: block;
}


.content{
  grid-area: content;
  z-index: 5;
  /* background-color: white; */
}

.side-nav {
  grid-area: side-nav;
}

.status {
  grid-area: status;
  background-color: #50266a;
}

/* LINK BUTTONS */


.menu-burger{
  display: none;
  height: 6em;
}

.menu-burger i {
  font-size: 2.5em;
  color: #50266a;
}


.links-container {
  display: flex;
  flex-direction: column;
}

.tab-button{
  font-size: 1.1em;
  text-align: center;
  margin: 0.5em 0 0.5em 0.5em;
  cursor: pointer;
  color: black;
  background-color: white;
  padding: 1.5em;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}


.tab-button:hover {
transform: scale(1.02);
}


.active {
  background-color: #ec6236;
  color: white;
}

.active:hover {
  color: white;
}

/* COUNTDOWN STATUS */

.status {
  height: 100%;
  width: auto;
  padding: 1em;
}

.status p {
  text-align: center;
  margin: 0.2em;
  padding: 0;
  color: white;
}

#count-message {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  text-align: center;
  padding: 0;
  color: white;
  text-align: center;
}

#countdown {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: white;
      text-align: center;
      padding:0;
}
/* CONTENT SECTION */

.content-card {
  max-width: 100%;
  height: 100%;
  margin: 2em;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.content-card h3 {
  text-align: center;
  font-size: 2.2em;
}

.tab-section {
  padding: 2em;
}

.tab-section h3 {
  padding: 0.2em;
  margin: 0;
}

.tab-section-header {
  position: relative;
}

.tab-section-header hr {
  position: absolute;
  top: 40%;
  transform: translate(0%, -50%);
}

.tab-section .tab-section-header h3 {
  padding: 0.5em;
  background-color: #ec6236;
  color: white;
  z-index: 30;
}

.mini-tab {
  padding: 0.3em;
  font-size: 1.1em;
  background-color: #50266a;
  color: white;
  margin: 0 0.5em;
}

.image-container {
  margin: 1em;
  min-width: 40%;
}

.text-container {
  padding: 1em 3em;
}

.text-container h1 {
  padding: 0 0.5em 0.5em 0.5em;
}

.groups-pics {
  flex-wrap: wrap;
    margin: 1em 0;

}

.groups-pics img {
  margin: 1em;
  width: 25%;
}

.tab-text {
  padding: 2em 3em;

}

.side-info{
  border: 4px solid #50266a;
  border-radius: 3em;
  padding: 1em;
  margin: 1em 0;
}

.position-button a {
  width: 20em;
  margin: 0.3em;
}

.mini-tab-active {
  background-color: white;
  color: #50266a;
  z-index: 10;
}

.position-box {
  margin: 3em 1em;
  font-size: 1.2em;
  width: 13em;
  height: 13em;
  text-align: center;
  cursor: pointer;
}

/* POSITION BOXES */
.position-box:nth-of-type(odd){
  background-color: white;
  color: #50266a;
  border: 4px solid #50266a;
}
.position-box:nth-of-type(odd):hover {
  background-color: #50266a;
  color: white;
}
.position-box:nth-of-type(even){
  background-color: #50266a;
  color: white;
}
.position-box:nth-of-type(even):hover{
  background-color: white;
  color: #50266a;
  border: 4px solid #50266a;
}

#default-mini-tab {
  height: 100%;
}

/* ANIMATIONS */
.heartbeat {
	-webkit-animation: heartbeat 3.5s ease-in-out 5s infinite both;
	        animation: heartbeat 3.5s ease-in-out 5s infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@media only screen and (max-width: 1200px){
  #banner-large {
    display: none;
  }
  #banner-small {
    display: block;
  }
}



@media only screen and (max-width: 1000px){
  .grid {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-template-areas:
      "status"
      "header"
      "side-nav"
      "content"
      "content"
      "content"
      "content"
  }

  .header img {
    max-width: 100%;
    height: auto;
  }

  .menu-burger {
    display: flex;
  }
#desktop-menu {
    display: none;
  }
#count-message {
  font-size:1.4em;
}
#countdown {
  font-size: 1.8em;
}
.status {
    height: auto;
  }

  .content-card {
    margin-top: 0;
  }
  .mini-tab {
    padding: 0.3em;
    font-size: 1em;
  }

  .position-button a {
    width: 14em;
    margin: 0.3em;
  }

 .col-reverse {
   flex-direction: column-reverse;
 }
  .tab-section .tab-section-header h3 {
    display:none;
  }
  .position-box {
    margin: 1em 1em;
  }


#table table {
    width: auto!important;
        overflow: scroll;
  }
}

@media only screen and (max-width: 480px){
.tab-section-header {
  display:none
}

.text-container {
    padding: 0.5em;
}

.groups-pics {
  display:none;
}

.position-box {
    margin: 0.5em;
    font-size: 1em;
    width: 100%;
    height: 5em;
}

.mini-tab-section .flex-center-center {
  flex-wrap: wrap;
}

.mini-tab-section h2 {
  margin-top: 0;
  padding-top:0;
}

.tab-button {
    font-size: 1em;
    text-align: center;
    margin: 0.5em 0;
    padding: 1em;
}
}



 @media only screen and (max-width: 350px){
.text-container {
    padding: 0.1em;
}

.tab-section {
    padding: 0.5em;
}
}
